.reveal {
font-size:180%;
overflow-x:visible;
overflow-y:visible;
}
.output_latex {
overflow-x:visible;
overflow-y:visible;
}
.output_wrapper {
font-size:150%;
overflow-x:visible;
overflow-y:visible;
}
